:root {
    --dark: #242424;
    --dark-with-opacity: #242424aa;
    --white: #e8e8e8;
    --grey: #cecece;
    --accent: #f2ca8d;
    --dominant: #0189ff;
    --inbetween-sections: 10px;
}

html {
    overscroll-behavior: none;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--dominant);
    color: var(--white);
    font-family: Helvetica, 'Open Sans', sans-serif;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 10px;
    right: 10px;
    overflow: visible;
    width: 100vw; 
    height: 0;
}

nav .items {
    display: flex;
    justify-content: left;
}

.logo {
    height: 40px;
    width: auto;
    margin-left: 10px;
}

.items > :hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    color: var(--white);
    font-size: 18px;
    border-bottom: 100px solid linear-gradient(var(--white), var(--dark));
    padding-top: 50px;
}

.about {
    width: 100%;
    min-height: fit-content;
    text-align: center;
    padding-top: 150px;
}

.about-desc {
    display: flex;
    flex-direction: column;
    margin-block: 25px 50px;
}

.about-desc-name {
    display: inline-block;
    font-size: clamp(4.688rem, 3.906rem + 2.083vw, 5.313rem);
    color: var(--accent);
    max-width: 750px;
    margin-inline: auto;
}

.about-desc-name::after {
    display: inline-block;
    content: "";
    width: 60px;
    height: 10px;
    background-color: var(--white);
    animation: blinking 1.5s infinite;
    transform: translate(10px, 15px);
}

.about-desc-title {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    color: var(--grey);
    opacity: 80%;
    margin-bottom: 20px;
}

.intro-bio, .intro-contact {
    display: inline-block;
    font-size: clamp(22px, 1.5vw, 30px);
    margin-inline: auto;
    max-width: 800px;
    min-height: fit-content;
    text-align: center;
    padding-bottom: 100px;
}

.separator {
    aspect-ratio: 900 / 450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.main-heading {
    color: var(--accent);
    font-size: 64px;
    text-align: center;
}

.dark-variant {
    color: var(--dark);
}

@keyframes blinking {
    0% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 1; }
}

.not-found {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.not-found h1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    font-size: clamp(70px, 10vw, 100px);
    color: var(--accent);
}

.not-found h1::after {
    content: "404";
    font-size: clamp(70px, 10vw, 100px);
    color: var(--accent);
    /* Animate the 404 error */
    animation: blinking 1.5s infinite;
}

.not-found p {
    font-size: clamp(20px, 5vw, 40px);
    max-width: 800px;
}

.not-found a {
    text-decoration: none;
    color: inherit;
    font-size: clamp(20px, 5vw, 40px);
    color: var(--accent);
}

.content {
    width: 100%;
}

.portfolio, .contact, .home {
    animation-name: appearing;
    animation-duration: 1s;
    animation-timing-function: linear;
    padding-inline: 5%;
    padding: 50px;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio h1 {
    color: var(--accent);
    width: 100vw;
}

.intro-portfolio {
    display: inline-block;
    font-size: clamp(22px, 1.5vw, 30px);
    margin-inline: auto;
    min-height: fit-content;
    text-align: center;
    padding-bottom: 100px;
}


.project {
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    width: 500px;
    min-height: 250px;
    height: fit-content;
    border: 1px solid black;
    box-shadow: 0px 0px 9px #0009;
    border-radius: 0.25rem;
}

.project * {
    width: 100%;
}

.project-title {
    text-decoration: none;
    color: var(--accent);
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}

.project-description {
    height: fit-content;
    width: 100%;
    font-family: 'Fira-Code', monospace;
}


.github-link:hover {
    text-decoration: underline;
}

.github-desc {
    font-size: 0.75em;
    opacity: 0.75;
}

.github-img {
    aspect-ratio: 16 / 9;
    width: 100%;
}


.home-info {
    max-width: 1200px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:50px;
    margin-inline: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    font-family: 'Fira Code', monospace;
    color: var(--white);
}

.home-info h1 {
    color: var(--accent);
    margin-inline: auto;
    font-family: 'Helvetica', serif;
    font-size: 40px;
    font-weight: 300;
}

.home-info p {
    font-size: 22px;
}

.home-info-cups {
    text-align: left;
}

.home-info-cups ul {
    font-size: 18px;
    list-style-type: disclosure-closed;
}

.home-info-cups li {
    color: var(--accent);
    padding-block: 10px;
}

.contact {
    width: 65vw;
    min-width: 500px;
    max-width: 1000px;
    margin-inline: auto;
    background-color: var(--dark); 
    color: var(--white);
    border: 1px solid black;
    box-shadow: 0px 0px 9px var(--dark);
    border-radius: 5px;
    margin-top: 100px;
}

.contact h1 {
    font-size: clamp(2.5rem, 5.333vw, 4rem);
}

.contact h1::after {
    display: block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: var(--white);
    margin-inline: auto;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact p {
    color: var(--accent);
    font-size: clamp(1.25rem, 1rem + 1vw, 1.875rem);
    display: inline-block;
}

.contact-link {
    color: var(--dominant);
    text-decoration: none;
}

.contact-link:visited {
    color: var(--dominant);
}

.contact-link:active {
    color: var(--white);
}

@media only screen and (max-width: 1000px) {
    .intro-portfolio {
        max-width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .home-info {
        width: auto;
        padding-block: 10px;
    }

    .home-info p {
        font-size: 16px;
    }

    .about-desc-name {
        font-size: clamp(2.5rem, 2.575rem + 7vw, 4.5rem);
        letter-spacing: -3px;
        max-width: 350px;
    }

    .about-desc-name::after {
        width: 40px;
        height: 5px;
        transform: translate(5px, 5px);
    }

    .portfolio, .home, .contact {
        padding-inline: 0;
        margin-inline: 0;
    }

    .project {
        width: 100%;
        margin-inline: 0;
    }

    .contact p {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contact {
        width: 90vw;
        min-width: 400px;
        margin-inline: auto;
    }
}
