:root {
    --dark: #242424;
    --dark-with-opacity: #242424aa;
    --white: #e8e8e8;
    --grey: #cecece;
    --accent: #f2ca8d;
    --dominant: #165fa1;
    --inbetween-sections: 10px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dominant);
    color: var(--white);
    font-family: Helvetica, 'Open Sans', sans-serif;
    overflow-x: hidden;
}

nav {
    position: sticky;
    top: 0;
    overflow: visible;
    width: 100vw; 
    height: 0;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
    z-index: 1;
}

nav .items {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    background-color: var(--dark-with-opacity);
    color: var(--accent);
}

.items * {
    text-align: center;
    width: clamp(350px, 150px, 33%);
    padding: auto;
    user-select: none;
    cursor: pointer;
    transition: color 2.5s, background-color 400ms;
    transition-timing-function: ease-out;
}

.items img {
    display: block;
    padding-block: 5px;
    width: 80px;
}

.items img:hover {
    background-color: inherit;
    color: inherit;
}

.items > :hover {
    color: var(--dark);
    background-color: var(--white);
}

footer {
    clear: both;
    width: 100%;
    position: relative;
    background-color: var(--dark);
    color: var(--accent);
    z-index: 2;
    padding-left: 50px;
}

.about {
    display: block;
    float: left;
    position: sticky;
    background-color: var(--dark);
    width: calc(40vw - var(--inbetween-sections));
    top: 0;
    left: 0;
    min-height: 100vh;
    height: fit-content;
    text-align: center;
    z-index: 0;
}

.about img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--grey);
    box-shadow: black -10px 10px 15px;
    margin-inline: auto;
    margin-top: 100px;
}

.about-names {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 25px 50px;
}

.about-name {
    display: block;
    font-size: 65px;
    color: var(--accent);
    line-height: 60%;
}

.about-separator {
    width: 200px;
    height: 2px;
    background-color: black;
    opacity: 40%;
    margin-inline: auto;
    margin-block: 10px;
}

.about-title {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    color: var(--grey);
    opacity: 80%;
    margin-bottom: 20px;
}

.about-bio {
    display: inline-block;
    font-size: clamp(22px, 1.5vw, 30px);
    max-width: 90%;
    padding-bottom: 50px;
}

.separator {
    display: flex;
    float: left;
    height: 100vh;
    width: var(--inbetween-sections);
    background-color: var(--accent);
}

.content {
    display: block;
    float: left;
    width: 60vw;
    background-color: var(--dominant);
    padding-top: 50px;
}

.content * {
    width: fit-content;
}

.hobbys, .portfolio, .contact {
    animation-name: appearing;
    animation-duration: 1s;
    animation-timing-function: linear;
    padding-inline: 5%;
}

.github-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: fit-content;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: var(--dark);
    border: 1px solid var(--grey);
}

.github-card * {
    width: 100%;
}

.github-link {
    text-decoration: none;
    color: var(--accent);
    text-align: center;
    font-size: 2em;
}

.github-link:hover {
    text-decoration: underline;
}

.github-desc {
    font-size: 0.75em;
    opacity: 0.75;
}

.github-img {
    aspect-ratio: 16 / 9;
}

.main-heading {
    color: var(--accent);
    font-size: 64px;
    text-align: center;
}

.signature {
    font-family: 'Sacramento', cursive;
}

.dark-variant {
    color: var(--dark);
}

.not-found {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.not-found h1 {
    font-size: clamp(70px, 10vw, 100px);
    color: var(--accent);
}

.not-found p {
    font-size: clamp(20px, 5vw, 40px);
    max-width: 800px;
}

@keyframes appearing {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 800px) {
    .about {
        position: static;
        height: fit-content;
        min-height: 60%;
        width: 100%;
        padding-bottom: 50px;
    }

    .about-names {
        height: fit-content;
    }

    .about-name {
        font-size: 90px;
        line-height: 90%;
    }

    .about-bio {
        font-size: 20px;
        max-width: 90%;
    }

    .content {
        width: 100%;
        min-height: 40vh;
    }

    .separator {
        position: static;
        width: 100%;
        height: var(--inbetween-sections);
    }
}